@-webkit-keyframes neon {
  0% {
    box-shadow: 0 0 10px #1ca7cb;
  }
  50% {
    box-shadow: 0 0 15px #1ca7cb;
  }
  100% {
    box-shadow: 0 0 10px #1ca7cb;
  }
}

@keyframes neon {
  0% {
    box-shadow: 0 0 10px #1ca7cb;
  }
  50% {
    box-shadow: 0 0 15px #1ca7cb;
  }
  100% {
    box-shadow: 0 0 10px #1ca7cb;
  }
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

* {
  box-sizing: border-box;
}

label, input, select, button {
  cursor: pointer;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.game-container {
  text-align: center;
  min-width: 650px;
  min-height: 400px;
}

.cards-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  float: left;
  width: 70px;
  height: 124px;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: 1;
}

.card:nth-of-type(4n) {
  margin-right: 0;
}

.glow {
  -webkit-animation: neon 1s forwards;
  animation: neon 1s forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.flip-container {
  -webkit-perspective: 1000;
          perspective: 1000;
  visibility: visible;
}

.flip-container.animate .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  height: 124px;
}

.front, .back {
  width: 70px;
  height: 124px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background: url(../img/pattern.jpg);
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #eee;
  text-align: center;
  font-size: 22px;
  line-height: 124px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
